            .dropdown-item {
                font-size: 13px;
            }
            
            .dropdown-menu.show {
                left: -7px !important
            }
            
            .dropdown-item.active,
            .dropdown-item:active,
            .dropdown-item:hover {
                background-color: #c80032;
                outline: none;
                color: #fff
            }
            
            .btn-success:not(:disabled):not(.disabled).active:focus,
            .btn-success:not(:disabled):not(.disabled):active:focus,
            .show>.btn-success.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .5);
            }
            /*== Search == */
            
            .navbar .search-open span {
                background: #c80032;
            }
            
            .navbar .search-open input,
            .navbar .search-open span {
                border-color: #c80032
            }
            
            .navbar-nav li>.search:hover {
                color: #c80032
            }
            /*== Nav links == */
            
            .navbar-nav>li>a:hover,
            .navbar-nav>li>a:active {
                color: #c80032
            }
            
            .navbar-nav>li:hover,
            .navbar-nav>li:active {
                border-bottom: 2px solid #c80032;
                background: none;
            }
            
            .footer-about p.xyz a:hover {
                color: #d64066;
            }
            /*== #Thumbplus == */
            
            #thumbplus .box .title {
                min-height: 60px
            }
            
            #thumbplus .box p {
                min-height: 185px;
            }
            
            .desc-comp-offer {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            
            #partners .title-bar {
                align-items: center;
                justify-content: center;
            }
            
            #thumbplus .owl-item:nth-child(1n+0) .box .read-more {
                background: rgba(220, 235, 30, 1) !important;
                color: #333;
                font-weight: bold;
                border: 3px solid #fff
            }
            
            #thumbplus .owl-item:nth-child(1n+0) .box1:hover {
                border-bottom: 5px solid rgba(220, 235, 30, 1);
            }
            
            #thumbplus .owl-item:nth-child(1n+0) .box1 h4:after {
                background: rgba(220, 235, 30, 1);
            }
            
            #thumbplus .owl-item:nth-child(1n+0) .box1:hover .greybg {
                background-image: none;
                background-color: rgba(220, 235, 30, 1);
            }
            
            #thumbplus .owl-item:nth-child(2n+0) .box .read-more {
                background: rgba(145, 210, 80, 1) !important;
                color: #333;
                font-weight: bold;
                border: 3px solid #fff
            }
            
            #thumbplus .owl-item:nth-child(2n+0) .box1:hover {
                border-bottom: 5px solid rgba(145, 210, 80, 1);
            }
            
            #thumbplus .owl-item:nth-child(2n+0) .box1 h4:after {
                background: rgba(145, 210, 80, 1);
            }
            
            #thumbplus .owl-item:nth-child(2n+0) .box1:hover .greybg {
                background-image: none;
                background-color: rgba(145, 210, 80, 1);
            }
            
            #thumbplus .owl-item:nth-child(3n+0) .box .read-more {
                background: rgba(200, 120, 175, 1) !important;
                color: #333;
                font-weight: bold;
                border: 3px solid #fff
            }
            
            #thumbplus .owl-item:nth-child(3n+0) .box1:hover {
                border-bottom: 5px solid rgba(200, 120, 175, 1);
            }
            
            #thumbplus .owl-item:nth-child(3n+0) .box1 h4:after {
                background: rgba(200, 120, 175, 1);
            }
            
            #thumbplus .owl-item:nth-child(3n+0) .box1:hover .greybg {
                background-image: none;
                background-color: rgba(200, 120, 175, 1);
            }
            /* Bug Solving ------------------------ */
            
            .alert {
                margin-bottom: 25px;
            }
            
            .alert p {
                margin: 0;
            }
            /* .form-control::placeholder {
    color: transparent;
} */
            
            .form-group .form-check .floatinglabel {
                transform: none;
                -webkit-transform: none;
            }
            
            .portrayed-content {
                width: 100%;
                text-align: center;
                padding: 0 15px;
            }
            
            .portrayed-content a {
                width: 20%;
                float: left;
                padding: 0 15px;
                font-size: 20px;
            }
            
            .portrayed-content a .circle {
                width: 100%;
                border-radius: 6px;
                height: 100px;
            }
            
            .portrayed-content a .circle .content {
                float: left;
                text-align: left;
            }
            
            .portrayed-content a .circle .content span {
                width: 100%;
                float: left;
                font-size: 28px;
                color: #ffffff;
                font-weight: 500;
            }
            
            .portrayed-content a .circle p {
                float: left;
                margin: 0;
                color: #ffffff;
                font-weight: 500;
            }
            
            .portrayed-content a .circle i {
                float: right;
                color: #fff;
                font-size: 30px;
                margin-top: 15px;
            }
            
            .portrayed-content a .circle {
                width: 100%;
                border-radius: 6px;
                height: 100px;
                padding: 18px 20px;
            }
            
            .circle-1 {
                background: #ffc107;
            }
            
            .circle-2 {
                background: #32CD32;
            }
            
            .circle-3 {
                background: #2196f3;
            }
            
            .circle-4 {
                background: #554dc5;
            }
            
            .circle-5 {
                background: #e23751;
            }
            
            .home-p.pages-head4 {
                background-size: cover !important;
            }
            
            .desc-comp-offer-cont {
                margin: 0 0 30px;
            }
            
            .toggle .active i {
                transform: rotate(180deg);
                position: absolute;
                top: 20px;
                right: -10px;
            }
            
            .toggle .toggle-inner {
                padding: 7px 0 10px;
            }
            
            .toggle .toggle-title i {
                margin: 0;
                top: 15px;
            }
            
            .faq-p1-cont .service-h-tab .tab-content .tab-pane {
                padding: 0px 10px;
            }
            
            .faq-p1-cont .service-h-tab {
                margin: 0;
            }
            
            .footerLogo {
                margin: 10px 0 20px;
            }
            
            .select2-container .select2-selection--single .select2-selection__rendered {
                padding: 0 !important;
            }
            /* .select2:after {
            content: "";
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            right: 10px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
            margin-right: -3px;} */
            /* Media CSS ------------ */
            
            @media screen and (max-width: 1170px) {
                header .topmenu {
                    background: #c80032;
                }
                header .topmenu .top-contacts li a.whtbg {
                    background: #ffffff;
                    padding: 5px;
                }
                .navbar-expand-lg .navbar-nav .nav-link {
                    font-size: 12px;
                }
                .navbar {
                    padding: 0 15px;
                }
                .navbar-brand img {
                    width: auto;
                }
                /* video#myvideo {
                    object-fit: cover;
                } */
                /* a.whtbg img {
                    max-width: 150px;
                } */
                .portrayed-content a {
                    width: 33.33%;
                    margin: 0 0 15px;
                }
                .toggle .toggle-title h3 {
                    padding-right: 20px;
                }
                .home-p.CollaborativeTechnologySolutions {
                    background: url(../img/challenges.jpg) no-repeat center center;
                    background-size: cover;
                }
            }
            
            @media screen and (max-width:1024px) {
                #intro {
                    height: 55vh
                }
                .navbar .container-fluid {
                    display: inline-block;
                }
                .navbar-light .navbar-toggler {
                    float: right;
                    margin-top: 15px;
                }
            }
            
            @media screen and (min-width:980px) {
                .clientLogo2 .col-md-3 {
                    text-align: center;
                }
            }
            
            @media screen and (max-width:767px) {
                header .topmenu .top-contacts li:first-child {
                    position: relative;
                }
                header .topmenu .top-contacts {
                    padding-left: 0px;
                }
                header .topmenu .top-contacts li a {
                    padding: 0 5px;
                    margin: 0;
                    font-size: 13px;
                }
                header .topmenu .top-data li a {
                    font-size: 13px;
                }
                .navbar-toggler {
                    background-color: #c80032;
                }
                #intro p {
                    width: 100%;
                }
                #intro h2 {
                    font-size: 22px;
                }
                .challenges-title h3 {
                    text-align: left;
                }
                .challenges-title h3 {
                    font-size: 24px;
                }
                .btn-general {
                    font-size: 14px;
                    padding: 6px 12px;
                }
                .challenges-title h3::after {
                    height: 3px;
                }
                .desc-comp-offer {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin: 0;
                }
                .clientLogo2 .col-md-3 {
                    width: 25%;
                }
                #partners .title-bar {
                    padding: 20px 0;
                }
                .title-bar h2 {
                    font-size: 24px;
                }
                .title-bar .heading-border {
                    height: 3px;
                }
                .title-bar {
                    padding: 20px 0;
                }
                #intro .carousel-container {
                    left: 30px;
                    right: 30px;
                }
                .icon_box_hiw .details h4 {
                    font-size: 18px;
                }
                .icon_box_hiw .details p {
                    font-size: 14px;
                    margin: 0 0 20px;
                }
                .icon_box_hiw .details {
                    margin-top: 25px;
                }
                #facts .counters span {
                    font-size: 32px;
                }
                .navbar-nav>li {
                    line-height: 32px;
                }
                .navbar-nav>li>a {
                    font-size: 14px;
                }
                header .topmenu ul {
                    text-align: center !important;
                }
                .navbar-brand img {
                    max-width: 140px;
                }
                .navbar>.container .navbar-brand,
                .navbar>.container-fluid .navbar-brand {
                    margin: 0;
                    width: auto;
                }
                .navbar-toggler {
                    margin-right: 0;
                }
                a.whtbg img {
                    max-width: 112px;
                }
                a.btn.refreshCaptcha {
                    margin-top: 15px;
                }
                .contact-phone {
                    border: none;
                }
                .menudisplayNone {
                    display: none;
                }
                .portrayed-content a {
                    width: 50%;
                }
                .navbar-nav {
                    width: 100%;
                }
                #story .container-fluid {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .filter-tabs {
                    padding: 0;
                }
                #story .filters li {
                    font-size: 13px;
                    margin: 0 1px 5px;
                    padding: 4px 15px;
                }
            }
            
            @media screen and (max-width:568px) {
                .clientLogo2 .col-sm-2 {
                    width: 50%;
                    margin: 0 0 15px;
                }
                #intro {
                    height: 45vh;
                }
                .videoINfo {
                    font-size: 13px;
                }
                .formInfo {
                    padding: 15px;
                }
                .formInfo .btn-primary {
                    font-size: 14px;
                }
                .portrayed-content a {
                    width: 100%;
                }
            }
            
            @media screen and (max-width:380px) {
                header .topmenu .top-data li:last-child {
                    width: 48%;
                    text-align: left;
                }
                header .topmenu .top-data li:nth-child(5) {
                    width: 48%;
                    text-align: right;
                }
            }
            /*added on 100820*/
            
            .formInfo h4 {
                text-decoration: underline;
            }
            
            .formInfo ul {
                color: #64707b;
            }
            
            .formInfo li ul {
                margin: 10px auto;
            }
            
            .formInfo li ul li:before {
                content: "\f101";
                color: #c80032;
                font-size: 16px;
            }
            
            .formInfo li ul li {
                padding-left: 20px
            }
            /* News Home page */
            
            .footerLogo {
                margin-top: 10px;
            }
            
            .footerLogo img {
                border-radius: 10px;
                padding: 5px;
            }
            
            .videoINfo {
                position: absolute;
                background: rgba(200, 0, 55, .5);
                z-index: 999;
                padding: 5px;
                text-align: left;
                width: 100%;
                font-weight: bold;
                font-style: italic;
                border-top: solid 1px #f8f8f8;
                color: #fff
            }
            
            .newsHome {
                padding: 35px 0;
                width: 100%;
                background: #f3f3f3;
            }
            
            .newsHome strong {
                display: block;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            
            .newsHome span {
                font-size: 14px;
                margin-bottom: 15px;
                display: block;
                color: #333;
            }
            
            .newsBoxHome {
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 0px 15px 0 rgba(0, 0, 0, .2);
                margin: 25px 0;
                min-height: 200px;
            }
            
            .newsBoxHome em {
                font-size: 12px;
                color: #c80032
            }
            
            .newsLogo img {
                margin-right: 15px;
            }
            
            .newsLogo {
                display: flex;
                align-items: center;
                justify-content: center
            }
            
            @media screen and (max-width:767px) {
                .newsLogo img {
                    margin-right: 0;
                    margin-bottom: 10px;
                    max-width: 90%;
                }

              


            }
            /*added on 130820*/
            
            .navbar small {
                font-size: 78%;
                font-weight: inherit;
            }